/* !Workbench */
#workbenchPageContent {
  max-width: 100%;
}

.ControlZone--emphasisBackground,
.CanvasZoneContainer {
  background-color: transparent !important;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.ToolbarButtonTooltip {
  display: none;
}

.Canvas {
  margin: 0 !important;
}
/* !workbench */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.bg-color {
  color: white;
}
.tile-head .tile h6 {
  margin-bottom: 0;
}
.tile-head .tile h6 {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.tile h6 {
  margin-bottom: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.tile p {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}
.tile {
  background-color: white;
  color: black;
  border-bottom: 1px solid #cacaca;
}
li.tile:hover {
  background: #ececec;
}
/* .tile h6:hover,
p:hover {
  cursor: pointer;
} */
.flexculture {
  max-height: 69rem;
  min-height: 10rem;
  overflow-y: auto;
  border: 1px solid #cacaca;
}
.flexculture::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.flexculture::-webkit-scrollbar-thumb {
  background-color: #727272;
}
.flexculture::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3%);
  background-color: #f5f5f5;
}
li.no-items {
  color: black;
  text-align: center;
  top: 3.8rem;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}
#tile .tile:last-child {
  border-bottom: none;
}
#tile {
  margin: 0 !important;
}
